body {
  background-color: #fff0f5;
  font-family: Verdana, sans-serif;
  padding: 20px;
}

h1 {
  color: darkred;
  text-align: center;
}

p {
  font-size: 18px;
  color: #444;
}

ul {
  color: darkgreen;
  font-weight: bold;
}
